<!-- <div class="flex gap-3">
    <div class="flex-1 h-full">
        <div class="p-card">
            <ngx-charts-pie-chart
            [results]="chartData"
            [legend]="true"
            >
          </ngx-charts-pie-chart>
        </div>

    </div>

</div> -->

<div class="col-12 xl:col-12">
    <div class="p-card">
        <ngx-charts-bar-vertical [results]="chartData" [xAxis]="true" [yAxis]="true" [legend]="true">
        </ngx-charts-bar-vertical>
    </div>
            
</div>